/* body{
    color: #42e0e2;
    color: #9daaf2;
    color: #0c1220;
    color: #4d7979;
} */

.textContainer{
    background-color: rgba(17, 25, 40, 0.142);
  backdrop-filter: blur(1px) saturate(100%);

}

.text-with-stroke {
  color: #00fbff;
  text-shadow: 1px 1px 25px #ffffff;
  /* -webkit-text-stroke: 0.001px white;  */
}

.remainText {
  text-shadow: 1px 1px 20px #00fbff;
}



.carousel-container {
  position: relative;
}

.carousel-container button ~ .button-89 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1e3a8a;
  color: #1e3a8a;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-container button.left {
  left: 1rem;
}

.carousel-container button.right {
  right: 1rem;
}